/* hide the logo for when I talk with online people */

/* #logo {
	visibility:hidden!important
} */

.bg-success:has(input:checked) {background-color: #053d05 !important;}
.bg-secondary:has(input:checked) {background-color: #282a2c !important;}
.bg-danger:has(input:checked) {background-color: #5a1e1e !important;}
label.border-black:has(input:checked) {border-color: #00000000 !important;}

seance-item {width: 300px;}
@media screen and ( max-width: 635px ) { seance-item {width: 95% !important;} }

#autre:has(input[type="radio"]) input[type="text"] {display: none;}
#autre:has(input[type="radio"]:checked) input[type="text"] {display: block;}
